html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0%;
}

a {
  text-decoration: none;
}

img {
  height: 400px;
}

hr {
  border-width: 0;
  border-top: 0.5rem dotted #eaf6f6;
  margin: 50px auto;
  width: 7%;
}

#btn-scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* font-size: 18px; */
  border: none;
  outline: none;
  background-color: #ffbd39;
  color: white;
  cursor: pointer;
  /* padding: 15px; */
  border-radius: 50%;
}

#btn-scroll-top i {
  color: black;
}

/* #btn-scroll-top:hover {
  background-color: #555;
} */

.container {
  width: 1000px;
}

button {
  /* padding: 3px 10px; */
  height: 50px;
  padding: 0 20px;
}

button:hover {
  cursor: pointer;
}

/* SCROLL NAVIGATION FOR EACH SECTION */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active-scroll {
  transform: translateY(0);
  opacity: 1;
}

/* NAVIGATION BAR  */
.header-bar {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  position: fixed;
  padding: 10px 0;
  background-color: black;
  z-index: 100;
}

/* .title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffbd39;
  box-shadow: inset 0 0 0 0 #ffbd39;
  margin: 0 -1.25rem;
  padding: 0rem 1.25rem;
  transition: color 0.3s ease-in-out, box-shadow 1s ease-in-out;
} */

.title img {
  height: 50px;
  padding-top: 10px;
}

.list-nav-bar li {
  display: inline;
  margin: 0 20px 0;
}

.list-nav-bar li a {
  color: white;
  transition: color 0.5s, padding-bottom 0.5s, border-bottom 0.5s;
}

.active-navigation,
.list-nav-bar li a:hover {
  color: #ffbd39;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffbd39;
}

/* HOME OVERVIEW SECTION */
.home-container {
  display: none;
  padding-top: 150px;
}

.home {
  display: flex;
  justify-content: space-between;
}

.home-content p {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffbd39;
  margin: 0%;
  padding: 0%;
}

.home-header-text {
  max-width: 650px;
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 30px;
}

.home-header-text span {
  color: #ffbd39;
}

.home-content h2 {
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 0;
}

/* 
when seperating each section to own css file, 
make sure to create own .cv-button styling,
else it is styled in another css file
*/
.home-button,
.cv-button {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  border-width: 1px;
  color: #fff;
  border-color: #fff;
  border-radius: 28px;
  background-color: #ffbd39;
}

.home-button.hire,
.cv-button {
  color: black;
  border: none;
}

.home-button.works {
  background-color: transparent;
}

.home-button.hire:hover,
.cv-button:hover,
#btn-scroll-top:hover {
  animation-name: colorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  padding: 0 19px;
  border: 1px solid white;
}

@keyframes colorChange {
  from {
    background-color: #ffbd39;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}

.home-button.works:hover {
  background: #ffbd39;
  border: none;
  color: black;
  transition: 0.5s;
}

.dots-container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 12.5px;
  width: 12.5px;
  margin: 0 2px;
  background-color: rgba(187, 187, 187, 0.242);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot,
.dot:hover {
  /* background-color: #717171; */
  background-color: #fff;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT SECTION */

.about-me-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about-me-image-container {
  margin-right: 30px;
}

.about-me-image-container img {
  height: 600px;
  /* transform: scaleX(-1); */
}

.about-me-content {
  position: relative;
}

.text-header {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.shadow-header {
  position: absolute;
  top: 0px;
  left: -20px;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  margin-top: 15px;
  z-index: -1;
}

.description {
  font-size: 1rem;
  max-width: 500px;
  margin-top: 40px;
  color: #999999;
}

.about-table {
  width: 80%;
  border-collapse: collapse;
}

.about-table td {
  color: #999999;
}

.about-table th,
.about-table td {
  padding: 7px 0;
  font-size: 1.1rem;
}

.about-table th {
  padding-right: 50px;
  text-align: left;
  font-weight: 600;
}

.cv-container {
  margin-top: 50px;
}

.cv-container p span {
  color: #ffbd39;
  font-weight: 600;
}

/* .cv-button {
} */

/* RESUME SECTION */

.resume-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-header-content {
  text-align: center;
  margin-bottom: 70px;
}

.section-header-content .shadow-header {
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.section-header-content .description {
  margin: auto;
  margin-top: 10px;
  max-width: 800px;
}

.resume-row {
  display: flex;
}

.resume-card {
  width: 480px;
  height: 280px;
  padding: 40px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.resume-card-date {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffbd39;
}

.resume-card-experience {
  font-weight: 300;
  margin: 15px 0;
}

.resume-card-institute {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #999999;
}

.resume-card-description {
  color: #999999;
  margin-top: 25px;
}

.arrow-right {
  transform: scaleY(-1);
}

.arrow-left {
  transform: scale(-1);
}

.resume-card.final {
  width: 100%;
  text-align: center;
  padding: 30px 100px;
}

/* SKILLS SECTION */

.skills-container {
  margin-bottom: 50px;
}

.skills-container .section-header-content .shadow-header {
  top: 5px;
}

.skill-content {
  display: flex;
  justify-content: space-between;
}

.skill-bars-container {
  width: 480px;
}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.skill > p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 10px;
  content: "";
  display: block;
  position: absolute;
  background: #1a1a1a;
  bottom: 0;
  border-radius: 5px;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: #ffbd39;
  display: block;
  position: relative;
  border-radius: 5px;
}

.skill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.html-skill {
  width: 70%;
}

.css-skill {
  width: 70%;
}

.javascript-skill {
  width: 75%;
}

.iec-skill {
  width: 90%;
}

.java-skill {
  width: 80%;
}

.git-skill {
  width: 75%;
}

.skill-bar .skill-count {
  right: 0;
}

/* CONTACT SECTION */

.contact-container {
  /* margin-bottom: 100px; */
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-info-container {
  text-align: center;
}

.icon-container {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-type {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.contact-info {
  margin-top: 15px;
  font-size: 1rem;
}

/* Font Awesome Icons */
.icon-container .fa-solid,
.icon-container .fa-brands {
  color: #ffbd39;
}

/* Footer */

.footer {
  margin-top: 0px;
  text-align: center;
}

.footer .logo-container img {
  height: 100px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.footer-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-links .fa-brands {
  color: #999999;
}

.copyright-text {
  color: #999999;
  font-size: 1rem;
}
